/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  background-color: rgba(190,190,190, .2);
}

section {
  padding-bottom: 2rem;
}

h1, h2, h3 {
font-family: 'Encode Sans SC', sans-serif;
font-weight: 400;
}

ul li {
  list-style-type: none;
}
/* Link Styles */
a {
  text-decoration:none;
  font-weight: 700;
}

a:hover {
  font-style: italic;
  transform: scale(1.2);
}

img {
  padding: 5px 10px;
}
/* Main Styles */

.main-header, .main-nav, #skills {
  display:flex;
}

.main-header {
  flex-direction: column;
}

.main-nav {
  flex-direction: column;
  align-items: center;
}

ul {
  padding: inherit;
}

.name {
  padding-top: 30px;
}
 .main-nav a{
    text-align:center;
    display: block;
  padding: 10px 15px;
}

main {
  padding: 30px 0;
}

section {
  background-color: white;
    padding:30px 0;
  }
}

.main-nav a {
  text-transform: uppercase;
}

#about-me {
  margin: 1em 2em;
}


.profile-pic {
  max-width:75vw;
  margin:auto;
  border-radius: 25px;
}

.experience {
  margin: 0 2em;
  flex: 1;
}

.experience img {
  max-width:85vw;
}

#skills {
  margin: 0 2em;
  flex-direction: column;
}
#skills ul li {
  padding: 10px;
}

.contact-info{
  padding: 30px 10% 0 10%;
  margin:0 2em;
  }

.contact-info h3 {
  text-transform: uppercase;
}

footer .main-nav {
  display: none;
}

.last-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px 15px;
}

.contact {
  font-size: 1.1em;
  padding: 0 10px
}

/* Media Queries */

@media screen and (min-width:600px) {
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  .main-nav{
    flex-direction: row;
    list-style-type: none;
justify-content: center;
  }

.name {
    font-size: 2rem;
    color: darkslategray;
  }

.intro {
  display: flex;
  flex-direction: row;
  padding: 1em 2em;
}

.profile-pic {
    max-width: 40%;
    max-height: 250px;
}

#about-me {
  font-size:1.2rem;
  order:-1;
  text-align: left;
  margin: 0;
  padding-right: 5px;
}


.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 5px;
}
.column img{
  padding:0;
}

#skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#skills ul li {
  flex:auto;
  flex-basis: 30vw;
}
.contact-info {
  padding-bottom: 2rem;
}

.contact-info p {
  font-size: 1.2rem;
}

.to-top {
  display:none;
}

.last-content {
  margin: 0 0 25px;
  font-size: .85rem;
}

.last-content p {
  padding: 10px 15px;
}

footer {
  padding: 0 5vw;
}

footer .main-nav {
  display: flex;
  flex-direction: row;
}
}

@media screen and (min-width:1000px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .name {
    padding-top: 0;
  }

  .intro {
    padding: 2rem 3rem 0 3rem;
  }

  #skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #skills ul li {
    flex:auto;
    flex-basis: 30vw;
  }
  #about-me {
    padding-right: 2rem;
  }
  section {
    border-radius: 10px;
    margin: 2em;
  }
  .column {
    width: 32%;
    padding: 20px 10px;
  }
}
